@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,400;1,100&family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    
}


body { 
    background-color: rgb(220, 238, 250);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;



}

.container{
    height: 400px;
    background-color: rgb(50, 54, 65) ;
    color: white;
    border-radius: 25px;
    box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.4);

}
.left-info{
    width: 260px;
    height: 100% ;
    float: left;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    background: url(background.png);
    background-position: left;
    background-size: cover;
    transform: scale(1.03) perspective(200px);
    cursor: pointer;
   
    transition: all 0.3s ease;
    
}

.left-info:hover{
    
    transform: scale(1.1) perspective(2500px) rotateY(5deg);
    

}

.pic-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgb(119, 144, 175) 10%, rgb(49, 140, 243) 100%);
    border-radius: 25px;
    opacity: 0.5;
}

.today-info{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.today-weather{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: 25px;
    left: 20px;
}

.today-weather .bx{
    font-size: 4.6rem;
}
.weather-temp{
    font-weight: 700;
    font-size: 3.5rem;

}
.right-info{
    float:right; 
    position: relative;
    height: 100%;
    padding-top: 25px ;


}
.day-info{
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
}

.day-info div:not(:last-child){
    margin-bottom: 6px;
}

.day-info div .title{
    font-weight: 700;



}

.day-info div .value{
    float: right;

}
.days-list{
    display: flex;
    list-style: none;
    margin: 10px 35px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
}
.days-list li{
    padding: 15px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s  ease;
}

.days-list li .bx{
    font-size: 2rem;
    margin-bottom: 5px;
}

.days-list li:hover{
    transform: scale(1.1);

background: white;
color: #222831;
box-shadow: 0 5px 15px rgba(0,0,0,0.35);

}

.days-list li .day-temp{
    margin-top: 6px;
    font-weight: 700;
}

.btn-container{
    padding: 25px 35px;
    
}

.loc-button{
    outline: none;
    width: 100%;
    border: none;
    font-weight: 700;
     border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35) ;
     padding: 10px;
     background:rgb(49, 140, 243);
     color: white;
}
.loc-button:hover{
    background-color: rgb(39, 104, 178);
    transform: scale(1.05);
    transition: 0.2s ease;
}
